# 메소드와 함수 평가 테스트
____
**반지름이 주어졌을 때 구의 볼륨을 구하는 함수를 만들어 보셔요.**

In [1]:
def vol(rad):
    return (4.0/3)*(3.14)*(rad**3)

___
**어떤 숫자와 상한값 하한값이 주어졌을 때 이를 체크하는 함수를 작성해 보셔요**

In [3]:
def ran_check(num,low,high):
    # num이 low와 high 사이에 있는 조사
    if num in range(low,high+1):  
        print(" %s is in the range" % str(num))
    else:
        print("The number is outside the range.")

또는 범위 안에 있으면 True 아니면 False를 리턴하도록 하면:

In [4]:
def ran_bool(num,low,high):
    return num in range(low,high+1)

In [5]:
ran_bool(3,1,10)

True

____
**특정 문자열을 입력 받아 대문자 및 소문자 개수를 세는 함수를 만들어 보십시오.**

    예제 문자열 : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    출력 결과 : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

In [6]:
def up_low(s):
    d={"upper":0, "lower":0}
    for c in s:
        if c.isupper():
            d["upper"]+=1
        elif c.islower():
            d["lower"]+=1
        else:
            pass
    print("Original String : ", s)
    print("No. of Upper case characters : ", d["upper"])
    print("No. of Lower case Characters : ", d["lower"])

In [7]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String :  Hello Mr. Rogers, how are you this fine Tuesday?
No. of Upper case characters :  4
No. of Lower case Characters :  33

____
**주어진 리스트에서 중복된 것을 제거시킨 새로운 리스트를 구해 보십시오.**

    샘플 리스트 : [1,1,1,1,2,2,3,3,3,3,4,5]
    고유 값 리스트 : [1, 2, 3, 4, 5]

In [8]:
def unique_list(l):
    x = []
    for a in l:
        if a not in x:
            x.append(a)
    return x

In [9]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [11]:
def unique_list2(l):
    # list(set()) 를 이용할 경우
    return list(set(l))

In [12]:
unique_list2([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

____
**목록의 모든 항목을 곱하는 함수를 작성해 보십시오.**

    샘플 리스트 : [1, 2, 3, -4]
    결과 값 : -24

In [13]:
def multiply(numbers):  
    total = 1
    for x in numbers:
        total *= x  
    return total

In [14]:
multiply([1,2,3,-4])

-24

____
**어떤 영문자를 받아 (공백을 제외하고) 앞에서 읽나 뒤에서 읽나 동일한 문자열인지 아닌지 체크하는 함수를 작성해 보십시오.**

In [15]:
def palindrome(s):
    
    s = s.replace(' ','') # 공백을 제거
    return s == s[::-1]   # 역순으로 해서 동일한가 체크

In [16]:
palindrome('nurses run')

True

In [17]:
palindrome('abcba')

True

____
영문 알파벳을 모두 사용한 문자열 인지 아닌지 조사하는 함수를 작성해 보십시오.

    예제 : "The quick brown fox jumps over the lazy dog"

힌트: string 모듈을 이용해 보십시오.

In [18]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):  
    alphaset = set(alphabet)  
    return alphaset <= set(str1.lower())

In [19]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [20]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [21]:
str1 = "The quick brown fox jumps over the lazy dog"

In [22]:
set(str1.lower())

{' ',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z'}