# 람다 표현식

아마도 파이썬을 처음 접하는 분들께 가장 이해하기 어려운 것은 이 람다 표현이라 할 수 있겠습니다. 람다 표현은 "익명" 함수라고도 불립니다. 이것은 def 로 함수를 만들지 않고도 간단히 바로 사용할 수 있는 함수를 만들어 낼 수 있습니다.

파이썬에서 def로 만들어진 함수 객체와 동일한 함수 객체가 람다 표현에 의해서도 동일하게 생성됩니다. 다음과 같은 람다 함수의 특징을 제외하고 말입니다.

** 람다 함수의 내용은 명령 구문의 집합이 아니라 단일 명령으로 구성됩니다 **

* 람다 함수의 내용은 def 함수의 return 구문에 해당되는 것과 유사하다 생각하면 됩니다. 즉, return 문 다음에 나오는 내용이 람다 함수의 몸체로 구성된다 생각하면 됩니다. 일반적으로 def 함수는 복잡한 명령을 수행하는 반면 람다 함수는 복잡한 일을 처리하는 있어 간단한 함수를 구성하는데 이용됩니다.

아래와 같이 살펴봅니다.

In [1]:
def square(num):
    result = num**2
    return result

In [2]:
square(2)

4

위의 함수를 더 간단히,

In [3]:
def square(num):
    return num**2

In [4]:
square(2)

4

좋은 모습의 코딩 스타일은 아니지만 한줄로 def 함수를 표현하면,

In [5]:
def square(num): return num**2

In [6]:
square(2)

4

위와 같이 한줄로 표현된 함수는 아래와 같이 쉽게 람다 함수로 표현될 수 있습니다.

In [7]:
lambda num: num**2

이제 람다 함수를 사용하는 방법은,

In [8]:
square = lambda num: num**2

In [9]:
square(2)

4

다른 예를 살펴보겠습니다.

## 예제 1
어떤 수가 짝수인지 확인

In [10]:
even = lambda x: x%2==0

In [11]:
even(3)

False

In [12]:
even(4)

True

## 예제 2
어떤 문자열의 첫번째 문자 구하기

In [13]:
first = lambda s: s[0]

In [14]:
first('hello')

'h'

In [15]:
first([1,3,5])

1

## 예제 3
문자열을 좌우 거꾸로 뒤집기

In [16]:
rev = lambda s: s[::-1]

In [17]:
rev('hello')

'olleh'

In [18]:
rev([1,2,3])

[3, 2, 1]

In [19]:
rev((1,2,3))

(3, 2, 1)

## 예제 4
일반 함수처럼 두 개의 패러미터를 받아 처리

In [20]:
adder = lambda x,y : x+y

In [21]:
adder(2,3)

5

람다 표현은 map(), filter(), reduce() 등의 내장함수와 함께 사용되면 특히 유용합니다. (사실 각각의 내장함수는 그 하나하나 개별로 살펴볼 만한 필요하 있을 정도입니다) 해당 내용을 각자 확인해 보십시오.

In [22]:
l = [1, '2', 3]
sum(l)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [23]:
l

[1, '2', 3]

In [24]:
map(int, l)

In [25]:
sum(map(int,l))

6

In [26]:
map(lambda x: x ** 2, range(5))

In [27]:
[x for x in map(lambda x: x ** 2, range(5))]

[0, 1, 4, 9, 16]

In [28]:
range(5)

range(0, 5)

참고로 위의 map 에 대한 결과가 파이썬 2.x 버전에서는 list [ ... ] 결과가 나오지만, 파이썬 3.x 부터는 map 은 generator로 동작합니다. 따라서 해당 결과를 list 로 구하기 위해서는 위와 같이 리스트 내포를 이용하였습니다.