# 객체와 데이터 구조 평가

## 지금까지 이해한 지식 평가

** 아래의 질문에 대해 각각 자신이 풀어 보셔요 **

지금까지 배웠던 아래와 같은 객체 혹은 데이터 구조에 대하여 각각 간단히 설명해 보셔요:

** 각각 답을 알고 싶으면 해당 내용을 자세히 복습하셔요! **

[숫자 및 변수](01-숫자 및 변수.ipynb)

[문자열](02-문자열.ipynb)

[리스트](04-리스트.ipynb)

[튜플](05-튜플.ipynb)

[사전](06-사전.ipynb)

## 숫자

더하기 빼기 곱하기 나누기 및 제곱 등을 이용하여 100.25라는 결과가 나오게 해 보셔요.

힌트: 결과인 100.25에서 거꾸로 연산을 하면 쉽습니다.

In [1]:
# Your answer is probably different
1000/10+1-0.75+2**4/16-1

100.25

다음의 결과가 어떻게 나오는지 설명하고 원하는데로 안 나온다면 어떻게 수정하면 될지 확인해 보십시오.

In [2]:
3/2

1.5

In [3]:
3//2

1

** 답: 파이썬 2에서는 정수/정수 결과는 정수이지만 파이썬 3에서는 실수(float)가 나옵니다.
파이썬 2에서 float 결과를 얻게 하기 위해서는 정수를 실수로 표현하면 됩니다. **

예를 들어:
2.0/3

다음의 세 가지 질문에 답을 해 보십시오.

    4 * (6 + 5)
    
    4 * 6 + 5 
    
    4 + 6 * 5

In [4]:
4 * (6 + 5)

44

In [5]:
4 * 6 + 5

29

In [6]:
4 + 6 * 5

34

3 + 1.5 + 4 연산의 *type*  은 어떻게 되나요?

**답: 실수**

어떤 숫자의 제곱 또는 제곱근을 구해 보세요?

In [7]:
100 ** 0.5

10.0

In [8]:
10 ** 2

100

## 문자열

'hello' 라는 문자열에서 'e'를 가져오려면 어떻게 하면 될까요?

In [9]:
s = 'hello'
# 'e'를 구하려면
s[1]

'e'

'hello' 문자열을 앞뒤로 뒤집으려면:

In [10]:
s ='hello'

# 뒤집는 인덱싱

s[::-1]

'olleh'

'hello' 문자열에서 'o'를 찾을 수 있는 두 가지 다른 방식의 색인을 기술해 보셔요.

In [11]:
s ='hello'

# Print out the

s[-1]

'o'

In [12]:
s[4]

'o'

## 리스트

리스트 [0,0,0] 를 생성하는 두 가지 방법을 기술해 보셔요.

In [13]:
#방법 1
[0]*3

[0, 0, 0]

In [14]:
#방법 2
l = [0,0,0]
l

[0, 0, 0]

아래의 리스트에서 'hello' 대신 'goodbye'로 수정해 보셔요.

In [15]:
l = [1,2,[3,4,'hello']]

In [16]:
l[2][2] = 'goodbye'

In [17]:
l

[1, 2, [3, 4, 'goodbye']]

다음의 리스트를 정렬하면:

In [18]:
l = [3,4,5,5,6]

In [19]:
#방법 1
sorted(l)

[3, 4, 5, 5, 6]

In [20]:
#방법 2
l.sort()
l

[3, 4, 5, 5, 6]

## 사전

다음의 사전에서 'hello' 결과를 구하려면:

In [21]:
d = {'simple_key':'hello'}

In [22]:
d['simple_key']

'hello'

In [23]:
d = {'k1':{'k2':'hello'}}
# 'hello' 구하기

In [24]:
d['k1']['k2']

'hello'

In [25]:
# 좀 더 복잡한 경우
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [26]:
# 색인을 계속해서 들어가면 됩니다...
d['k1'][0]['nest_key'][1][0]

'hello'

In [27]:
# 마지막으로 이렇게 복잡한...
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [28]:
# 휴우
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

사전을 정렬할 수 있습니까?

**답: 아니오! 보통 사전은 시퀀스가 아니라 *매핑*이기 때문입니다.**

## 튜플

튜플과 리스트 사이에 주요 차이점이 무었인가요?

**튜플은 생성하고 나서 내용을 수정할 수 없습니다!**

튜플을 생성하는 방법은?

In [29]:
t = (1,2,3)

## 세트

세트에서 고유한 항목이 보장되는 이유는?

**답: 중복된 항목을 허용하지 않기 때문!**

아래와 같은 리스트가 있다고 할 때 고유한 세트로 만들 수 있는 방법은:

In [30]:
l = [1,2,2,33,4,4,11,22,3,3,2]

In [31]:
set(l)

{1, 2, 3, 4, 11, 22, 33}

## 블리언

다음과 같은 테이블로 블리언 (True 또는 False)을 확인할 수 있습니다:

<table class="table table-bordered">
<tr>
<th style="width:10%">오퍼레이터</th><th style="width:45%">설명</th><th>예시</th>
</tr>
<tr>
<td>==</td>
<td>두 항목이 같으면 True.</td>
<td> (1 == 1) 은 True.</td>
</tr>
<tr>
<td>!=</td>
<td>두 항목이 같지 않으면 True.</td>
</tr>
<tr>
<td>&lt;&gt;</td>
<td>파이썬 2에서 != 와 동일한 오퍼레이터 이지만 파이썬 3에서는 지원되지 않습니다.</td>
<td></td>
</tr>
<tr>
<td>&gt;</td>
<td>왼편의 값이 오른편의 값 보다 더 크면 True.</td>
<td> (a &gt; b) a가 b보다 크면 True</td>
</tr>
<tr>
<td>&lt;</td>
<td>오른편의 값이 왼편의 값 보다 더 크면 True.</td>
<td> (a &lt; b) a 보다 b가 더 크면 참.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>만약 왼편의 값이 오른편의 값 보다 같거나 더 크면 True.</td>
<td> (a &gt;= b) a가 b보다 같거나 크면 True. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>만약 오픈편의 값이 왼편의 값 보다 같거나 더 크면 True.</td>
<td> (a &lt;= b) b가 a 보다 같거나 크면 True. </td>
</tr>
</table>

아래와 같은 조건식이 참인지 거짓인지 결과를 실행하기 전에 확인해 보십시오.

In [32]:
# 실행하기 전에 참인지 거짓인지 맞춰 보십시오
2 > 3

False

In [33]:
# 실행하기 전에 참인지 거짓인지 맞춰 보십시오
3 <= 2

False

In [34]:
# 실행하기 전에 참인지 거짓인지 맞춰 보십시오
3 == 2.0

False

In [35]:
# 실행하기 전에 참인지 거짓인지 맞춰 보십시오
3.0 == 3

True

In [36]:
# 실행하기 전에 참인지 거짓인지 맞춰 보십시오
4**0.5 != 2

False

최종 질문: 아래의 결과는 참/거짓 중에 어느 것일까요?

In [37]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#True or False?
l_one[2][0] >= l_two[2]['k1']

False